* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  cursor: crosshair;
  font-family: Helvetica, Arial, sans-serif;
}


#game {
  display: inline-block;
  position: relative;
  min-width: 500px;
  overflow: hidden;
  background: url(subtle.jpg);
}

#game:not(.berzerk) {
  -webkit-animation: adjustHue 4s alternate infinite;
}

#game.berzerk {
  background: url(crazy.gif)
}

#game.berzerk .enemy {
  border: 1px solid white;
}

#game .enemy {
  position: absolute;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 1;
}

#game .score-board {
  color: white;
}

#game.end .score-board {
  font-size: 250%;
  position: absolute;
  top: 250px;
  width: 500px;
  text-align: center;
  z-index: 2;
}

@-webkit-keyframes adjustHue {
    0% { -webkit-filter: hue-rotate(0deg); }
    25% { -webkit-filter: hue-rotate(45deg); }
    50% { -webkit-filter: hue-rotate(90deg); }
    75% { -webkit-filter: hue-rotate(135deg); }
    100% { -webkit-filter: hue-rotate(180deg); }
}

input {
  outline: none;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

input:focus,
input.focus {
  border: solid 1px blue;
  box-shadow: 0 0 5px 1px blue;
}

#leaderboard-table {
  display: inline-block;
}

table {
  color: #333;
  width: 640px;
  border-collapse:
  collapse; border-spacing: 0;
}

td, th {
  border: 1px solid transparent;
  height: 30px;
}

th {
  background: #DFDFDF;
  font-weight: bold;
}

td {
  background: #FAFAFA;
  text-align: center;
}

tr:nth-child(even) td {
  background: #F1F1F1;
}

tr:nth-child(odd) td {
  background: #FEFEFE;
}
